.App ul {
  text-align: center;
  background-size: cover;
  background-color: #00ff40;
}
  

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.articlesIndex li{
  color: #61dafb;
  background-color: 
}

.articleInfo{
  color: solid black;
}

.articleContent{
 margin: 10px;
 border: 1px solid blue; 
}

.articleInputs{
 margin: 10px;
 border: 1px solid blue; 
 background-color: #8000ff;
}

.articleTitle{
 margin: 10px;
 border: 1px solid blue; 
}

.author{
 margin: 10px;
 border: 1px solid blue; 
}

.submitInfo{
 margin: 10px;
 border: 1px solid blue; 
}

.userName{
  margin: 10px;
  border: 1px solid blue; 
}
 
 .userPassword{
  margin: 10px;
  border: 1px solid blue; 
}
.userEmail{
  margin: 10px;
  border: 1px solid blue; 
}
.userInfo{
  text-align: center;
  margin: 10px;
  border: 1px solid blue; 
  background-color: #8000ff;
}
.userProfilePage{
  text-align: center;
  margin: 10px;
  border: 1px white; 
  background-color: white;
}
.articleComments{
  border: 1px solid;
  margin-left: 50px;
  margin-right: 50px;
}
div p{
  text-align: center;
  font: italic bold 20px/30px Georgia, serif; 
}

button{
  margin-left: 30px
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
